[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
tensorflow = "*"
pytest = "*"
lark-parser = "*"
tensorflow-probability = "*"
mypy = "*"

[requires]
python_version = "3.7"
